<div class="container-fluid">

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Employee Management System</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <button class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#addProduct" type="submit">Add
          Employee
        </button>
      </div>
    </div>
  </nav>

  <table class="table table-hover">
    <thead>
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Price</th>
      <th scope="col">Description</th>
      <th scope="col">Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let product of productList">
      <td>{{product.title}}</td>
      <td>{{product.price}}</td>
      <td>{{product.description}}</td>
      <td>
        <button type="button" class="btn btn-outline-primary me-2" data-bs-toggle="modal" data-bs-target="#editProduct"
                (click)="editProduct(product)">Edit
        </button>
        <button type="button" class="btn btn-outline-danger" (click)="deleteProduct(product)">Delete</button>
      </td>
    </tr>
    </tbody>
  </table>

  <!-- Add employee modal -->
  <div class="modal fade" id="addProduct" tabindex="-1" aria-labelledby="addProductLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addProductLabel">Add new product</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="productDetails">
            <div class="mb-3">
              <label for="title" class="form-label">Title </label>
              <input type="text" formControlName="title" class="form-control" id="title" aria-describedby="title">
            </div>

            <div class="mb-3">
              <label for="price" class="form-label">Price </label>
              <input type="number" formControlName="price" class="form-control" id="price" aria-describedby="price"
                     step="0.1" min="0">
            </div>

            <div class="mb-3">
              <label for="description" class="form-label">Description </label>
              <input type="text" formControlName="description" class="form-control" id="description"
                     aria-describedby="description">
            </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="addProduct()">Add
                employee
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!--  Edit Product Modal -->
  <div class="modal fade" id="editProduct" tabindex="-1" aria-labelledby="editProductLabel"> aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="editProductLabel">Edit employee details</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

          <form [formGroup]="productDetails">
            <div class="mb-3" style="visibility:hidden; display: none;">
              <label for="id" class="form-label">ID </label>
              <input type="text" formControlName="id" class="form-control" id="id" aria-describedby="id">
            </div>

            <div class="mb-3">
              <label for="titleUpdate" class="form-label">Title </label>
              <input type="text" formControlName="title" class="form-control" id="titleUpdate"
                     aria-describedby="titleUpdate">
            </div>

            <div class="mb-3">
              <label for="priceUpdate" class="form-label">Price </label>
              <input type="number" formControlName="price" class="form-control" id="priceUpdate"
                     aria-describedby="priceUpdate"
                     step="0.1" min="0">
            </div>

            <div class="mb-3">
              <label for="descriptionUpdate" class="form-label">Description </label>
              <input type="text" formControlName="description" class="form-control" id="descriptionUpdate"
                     aria-describedby="descriptionUpdate">
            </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button" class="btn btn-outline-success" (click)="updateProduct()" data-bs-dismiss="modal">
                Update
              </button>
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>


</div>
